/*-------------------------------------------------------
                      Media Sizes
------------------------------------------------------ */
/*-------------------------------------------------------
                      fonts
------------------------------------------------------ */
/* Oswald - Regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("../css/fonts/Oswald/oswald-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../css/fonts/Oswald/oswald-v16-latin-regular.eot?iefix") format("embedded-opentype"), url("../css/fonts/Oswald/oswald-v16-latin-regular.woff2") format("woff2"), url("../css/fonts/Oswald/oswald-v16-latin-regular.woff") format("woff"), url("../css/fonts/Oswald/oswald-v16-latin-regular.ttf") format("truetype"), url("../css/fonts/Oswald/oswald-v16-latin-regular.svg#Oswald") format("svg");
  /* Legacy iOS */ }

/* Open-Sans-Regular - latin */
@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../css/fonts/Open-Sans/open-sans-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../css/fonts/Open-Sans/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Open-Sans/open-sans-v15-latin-regular.woff2") format("woff2"), url("../css/fonts/Open-Sans/open-sans-v15-latin-regular.woff") format("woff"), url("../css/fonts/Open-Sans/open-sans-v15-latin-regular.ttf") format("truetype"), url("../css/fonts/Open-Sans/open-sans-v15-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

h1, h2, h3, h4, h5 {
  font-family: Oswald, sans-serif; }

p, li {
  font-family: Open-Sans, sans-serif; }

/*-------------------------------------------------------
                      Main Colors
------------------------------------------------------ */
/* bright blue */
/* Background Colors */
/*-------------------------------------------------------
                      Headings
------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
  color: #324545;
  margin: 0; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

/*-------------------------------------------------------
                      Transitions
------------------------------------------------------ */
.transition-three {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.transition-four {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.transition-seven {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }

/*-------------------------------------------------------
                  Links & Lists
------------------------------------------------------ */
a {
  text-decoration: none !important; }

ul {
  margin: 0;
  padding: 0; }

/*-------------------------------------------------------
                  Section Padding
------------------------------------------------------ */
#welcome_banner {
  padding: 50px 0; }

#why_us, #our_team, #our_services, #contact_us {
  padding: 90px 0; }

#why_us, #our_team {
  background-color: #f9fafc;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none; }

/*-------------------------------------------------------
             Headings Underline Animations
------------------------------------------------------ */
/* Header underline with circle in the middle */
.header-underline-circle {
  margin: 20px 0; }
  .header-underline-circle .icon-circle {
    position: relative;
    top: 5px;
    margin: auto;
    width: 10px;
    height: 10px; }
  .header-underline-circle .fill-outline {
    width: 400px;
    margin: auto;
    height: 1px;
    background-color: #e5e5e5; }
    .header-underline-circle .fill-outline .line-fill {
      margin: auto;
      width: 100px;
      height: 1px;
      background-color: #1cc6df; }
    .header-underline-circle .fill-outline .line-filled {
      width: 250px;
      transition: all 0.4s ease; }

/* Header underline with icon in the middle */
.animate-header-underline-icon .header-underline-circle {
  position: relative;
  bottom: 25px; }
  .animate-header-underline-icon .header-underline-circle .icon-circle {
    position: relative;
    background-color: #f9fafc;
    width: 40px;
    height: 40px;
    top: 25px;
    border: none; }
    .animate-header-underline-icon .header-underline-circle .icon-circle i {
      font-size: 24px;
      color: #1ccdca; }

/* Single underline with circle (#why_us) */
.icon-circle {
  position: relative;
  width: 10px;
  height: 10px;
  border: 1px solid #1cc6df;
  border-radius: 50%;
  background-color: #ffffff; }

.fill-outline {
  width: 230px;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 5px; }
  .fill-outline .line-fill {
    background-color: #1cc6df;
    width: 100px;
    height: 1px; }
  .fill-outline .line-filled {
    width: 200px;
    transition: all 0.7s ease; }

/* Other Heading Animations */
.brand-color-active {
  color: #1ccdca !important;
  transition: all 0.7s ease; }

/*-------------------------------------------------------
                  Custom Parameters
------------------------------------------------------ */
.f-right {
  float: right; }

.f-left {
  float: left; }

/*-------------------------------------------------------
                      Section: Top Menu
------------------------------------------------------ */
/* top menu content */
#top_menu {
  padding: 15px 0;
  background-color: #f9f9f9; }
  @media (max-width: 992px) {
    #top_menu .menu-contacts, #top_menu .menu-socials {
      width: 100%;
      text-align: center; }
    #top_menu .menu-contacts {
      margin-bottom: 10px; }
      #top_menu .menu-contacts .hide-small {
        display: none; } }
  #top_menu ul {
    color: #989898;
    list-style: none; }
    #top_menu ul li {
      display: inline-block;
      font-size: 12px; }
      #top_menu ul li a {
        color: inherit; }
        #top_menu ul li a i {
          font-size: 13px; }
  #top_menu .menu-contacts li {
    padding-right: 20px; }
    #top_menu .menu-contacts li i {
      padding-right: 5px; }
  #top_menu .menu-socials li {
    padding-left: 10px; }
    #top_menu .menu-socials li i {
      font-size: 16px; }

.menu-trigger {
  display: none;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5; }
  .menu-trigger .btn {
    box-shadow: none; }
    .menu-trigger .btn i {
      color: #1ccdca; }

/*-------------------------------------------------------
                      Section: Main Menu
------------------------------------------------------ */
#main_menu .sticky-menu {
  position: fixed;
  top: 0; }

#main_menu .container #menu_logo {
  position: relative;
  float: left;
  z-index: 3; }

/*-------------------------------------------------------
                 Section: Welcome Banner
------------------------------------------------------ */
#welcome_banner {
  background-color: #1c2329;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 3px solid black; }
  #welcome_banner h4 {
    color: #ffffff;
    margin-bottom: 20px; }
  #welcome_banner p {
    font-size: 20px;
    color: #aaa; }

/*-------------------------------------------------------
                   Section: Description
------------------------------------------------------ */
#description_section {
  background-color: #f9fafc;
  padding: 90px 0; }
  #description_section .col-md-4 {
    margin-top: 0; }
    #description_section .col-md-4 .media {
      padding: 10px; }
    #description_section .col-md-4 h6 {
      font-size: 17px;
      font-weight: 400;
      transition: all 0.7s ease; }
    #description_section .col-md-4 p {
      font-size: 14px;
      color: #666666; }
    #description_section .col-md-4 .icon-circle {
      position: relative;
      border-color: #1ccdca;
      width: 85px;
      height: 85px;
      box-shadow: 0 0 0 10px transparent;
      transition: all 0.6s ease; }
    #description_section .col-md-4 i {
      position: absolute;
      color: #1ccdca;
      font-size: 34px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #description_section .col-md-4 .icon-circle-active {
      background-color: #1ccdca;
      box-shadow: 0 0 0 0 #1ccdca;
      transition: all 0.6s ease; }
      #description_section .col-md-4 .icon-circle-active i {
        color: #ffffff !important; }
    #description_section .col-md-4 .media-body {
      padding-left: 15px; }

/*-------------------------------------------------------
                   Section: Our Skills
------------------------------------------------------ */
#our_skills {
  background-size: cover;
  background: url("../test_images/bg_header4.jpg") no-repeat; }
  #our_skills .col-md-6 {
    padding: 20px 45px;
    background-color: #3c464d; }
    #our_skills .col-md-6 h3 {
      color: #ffffff; }
    #our_skills .col-md-6 p {
      color: #aaa;
      font-size: 14px;
      margin: 15px 0 45px; }
    #our_skills .col-md-6 .progress {
      position: absolute; }
    #our_skills .col-md-6 .progress-bar-custom, #our_skills .col-md-6 .title, #our_skills .col-md-6 .progress {
      line-height: 2;
      height: 30px;
      border-radius: 2px; }
    #our_skills .col-md-6 .progress-bar-custom {
      position: relative;
      background: #2a3136;
      margin-bottom: 20px; }
    #our_skills .col-md-6 .title {
      padding-left: 10px;
      float: left; }
      #our_skills .col-md-6 .title h6 {
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        position: relative;
        left: -20px;
        color: transparent;
        z-index: 1;
        opacity: 0; }
    #our_skills .col-md-6 .title-animated h6 {
      left: 0;
      color: #ffffff;
      transition: all 1.5s ease;
      opacity: 1; }
    #our_skills .col-md-6 .progress-value {
      z-index: 1;
      line-height: 1.5;
      margin: 3px 5px 0 0;
      padding: 1px 5px;
      position: relative;
      float: right;
      background-color: #ffffff;
      color: #324545;
      border-radius: 2px; }
    #our_skills .col-md-6 .web-design {
      background-color: #48adb9; }
    #our_skills .col-md-6 .programming {
      background-color: #3a93b2; }
    #our_skills .col-md-6 .html-css {
      background-color: #3a93b2; }
    #our_skills .col-md-6 .wordpress {
      background-color: #56c295; }
    #our_skills .col-md-6 .joomla {
      background-color: #e74c3c; }

/*-------------------------------------------------------
                  Section:  Why Us
------------------------------------------------------ */
#why_us {
  /* Dynamic Tabs */ }
  #why_us h4 {
    font-weight: 500;
    padding-bottom: 20px; }
  #why_us #why_underline_one, #why_us #why_underline_two {
    margin-bottom: 40px; }
  #why_us .tab-content {
    padding: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    #why_us .tab-content p {
      margin-bottom: 20px; }
    #why_us .tab-content ul li {
      list-style: none;
      margin-bottom: 10px;
      font-size: 14px; }
      #why_us .tab-content ul li i {
        padding-right: 10px;
        color: #e74c3c; }
    #why_us .tab-content #quality .tab-image {
      border: 3px solid #363248; }
    #why_us .tab-content #design .tab-image {
      border: 3px solid #afc5ee; }
    #why_us .tab-content #programming .tab-image {
      border: 3px solid #e26269; }
    #why_us .tab-content .tab-pane .tab-list, #why_us .tab-content .tab-pane .tab-image {
      overflow: hidden;
      width: 50%;
      float: left; }
    #why_us .tab-content .tab-pane .tab-image {
      border-radius: 3px;
      max-height: 250px; }
      #why_us .tab-content .tab-pane .tab-image img {
        margin: 0; }
  #why_us .nav-tabs .active a {
    border-top: 1px solid #1ccdca;
    color: #1ccdca;
    transition: 0.7s ease; }
  #why_us .nav-tabs .active a {
    border-bottom: 1px solid transparent; }
  #why_us .nav-tabs li a {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-right: 0;
    border-radius: 0;
    font-size: 14px;
    color: #888; }

/*-------------------------------------------------------
                     Accordion
------------------------------------------------------ */
.panel {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px; }

.panel-active {
  background-color: #1ccdca;
  color: #ffffff; }

.panel-title span {
  font-size: 14px;
  font-weight: 400;
  line-height: 2; }
  .panel-title span i {
    padding-right: 10px; }

.glyphicon {
  line-height: 2;
  float: right;
  font-size: 12px;
  font-weight: 100; }

/*-------------------------------------------------------
                Section: Running Numbers
------------------------------------------------------ */
#numerical_statistic {
  margin: 90px 0; }
  #numerical_statistic .running-number {
    top: -100px;
    opacity: 0;
    transition: all 1s ease; }
    #numerical_statistic .running-number .number-icon {
      color: #1ccdca;
      font-size: 36px; }
    #numerical_statistic .running-number .number-run {
      font-family: Oswald, sans-serif;
      margin: 20px 0;
      font-weight: 700;
      font-size: 32px;
      color: #666666; }
    #numerical_statistic .running-number .count-text {
      font-size: 26px;
      font-weight: 200;
      color: #666666; }
  #numerical_statistic .running-number-active {
    top: 0;
    opacity: 1;
    transition: all 1s ease; }

/*-------------------------------------------------------
                Section: Meet Our Team
------------------------------------------------------ */
#our_team .carousel-indicators li {
  border-color: #e5e5e5;
  background-color: #ffffff; }

#our_team .carousel-indicators .active {
  border: 3px solid #ffffff;
  background-color: #1ccdca; }

#our_team .container .row:nth-child(1) .col-xs-12 span {
  font-size: 24px;
  font-weight: 200;
  color: #666666; }

#our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner {
  margin-top: 50px;
  padding-bottom: 50px; }
  #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info {
    padding: 0 20px; }
    #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info .team-member {
      font-size: 18px;
      color: #324545;
      padding-bottom: 10px; }
    #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info .team-member-active {
      color: #1ccdca;
      transition: all 0.3s ease; }
    #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info span, #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info p {
      color: #aaa;
      font-size: 14px; }
    #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info p {
      margin-top: 10px; }
    #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info .team-icons .icon-team {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 1px solid #e5e5e5;
      border-radius: 50%;
      transition: all 0.7s ease; }
      #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info .team-icons .icon-team i {
        color: #666666;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        transition: all 0.7s ease; }
    #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info .team-icons .icon-team-active {
      border-color: #1ccdca;
      transition: all 0.7s ease; }
      #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-body .team-info .team-icons .icon-team-active i {
        color: #1ccdca;
        transition: all 0.7s ease; }
  #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-left, #our_team .container .row:nth-child(2) .col-xs-12 .carousel-inner .row .col-md-6 .media .media-right {
    width: 30%; }

/*-------------------------------------------------------
                Section: Our Services
------------------------------------------------------ */
#our_services .container h2 {
  margin-bottom: 60px; }

#our_services .row:nth-child(2) {
  padding-top: 80px; }
  #our_services .row:nth-child(2) .col-md-6:nth-child(1) .col-sm-12 {
    margin-bottom: 60px; }
  #our_services .row:nth-child(2) .col-md-6:nth-child(1) h6 {
    font-weight: 500; }
  #our_services .row:nth-child(2) .col-md-6:nth-child(1) .media-left {
    padding-right: 30px; }
    #our_services .row:nth-child(2) .col-md-6:nth-child(1) .media-left .icon-circle {
      position: relative;
      background-color: #1ccdca;
      width: 85px;
      height: 85px; }
    #our_services .row:nth-child(2) .col-md-6:nth-child(1) .media-left i {
      font-size: 34px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff; }

/*-------------------------------------------------------
                Section: Contact Us
------------------------------------------------------ */
#contact_us {
  border-top: 1px solid #e5e5e5;
  background-color: #f9fafc; }
  #contact_us h4 {
    color: #1ccdca; }
  #contact_us .container .row:nth-child(1) h3 {
    margin-bottom: 15px; }
  #contact_us .container .row:nth-child(2) i {
    padding-right: 10px; }
  #contact_us .container form {
    margin-top: 30px; }
  #contact_us .container .col-sm-10 input {
    padding: 10px 10px; }
  #contact_us .container .control-label {
    text-align: left;
    color: #666666; }
    #contact_us .container .control-label span {
      color: #e74c3c;
      padding-left: 5px; }
  #contact_us .container textarea {
    resize: vertical; }
  #contact_us .container button {
    padding: 10px 0;
    width: 100%;
    color: #ffffff;
    background-color: #1ccdca;
    border: none; }
    #contact_us .container button i {
      padding-right: 10px; }

/*-------------------------------------------------------
                Section: Our Location
------------------------------------------------------ */
#our_location {
  background-color: #674962;
  color: #ffffff;
  padding: 30px 0; }
  #our_location h2 {
    color: #ffffff; }

/*-------------------------------------------------------
                      Google Map
------------------------------------------------------ */
#map_container {
  height: 400px; }

/*-------------------------------------------------------
           Section: Informational Footer
------------------------------------------------------ */
/* General parameters for the section */
#info_footer {
  padding: 90px 0;
  background-color: #191E21;
  color: #ffffff; }

#info_footer .col-md-3 .column-row h6 {
  font-family: Open-Sans, sans-serif;
  margin-bottom: 20px;
  font-weight: 500;
  color: #ffffff; }

#info_footer .col-md-3 .column-row p {
  margin-bottom: 28px;
  font-size: 13px;
  color: #989898; }

#info_footer .col-md-3 .column-row:nth-child(2n) {
  margin-top: 35px;
  padding-top: 35px;
  border-top: 1px solid #989898; }

/*-------------------------------------------------------
                     Column 1
------------------------------------------------------ */
#info_footer .container .row .col-md-3:nth-child(1) .column-row:nth-child(1) img {
  padding-bottom: 15px; }

#info_footer .container .row .col-md-3:nth-child(1) .column-row:nth-child(1) .btn {
  border: none;
  padding: 10px;
  outline: none;
  background-color: black;
  color: #ffffff; }
  #info_footer .container .row .col-md-3:nth-child(1) .column-row:nth-child(1) .btn i:nth-child(1) {
    padding-right: 5px; }

#info_footer .container .row .col-md-3:nth-child(1) .column-row:nth-child(2) .form-group .form-control {
  width: 85%;
  float: left;
  height: 35px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

#info_footer .container .row .col-md-3:nth-child(1) .column-row:nth-child(2) .form-group .btn {
  width: 15%;
  height: 35px;
  position: relative;
  float: right;
  color: #ffffff;
  border-left: #2e7168;
  background: #1ccdca;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  #info_footer .container .row .col-md-3:nth-child(1) .column-row:nth-child(2) .form-group .btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*-------------------------------------------------------
                         Column 2
------------------------------------------------------ */
#info_footer .col-md-3:nth-child(2) ul {
  list-style: none; }
  #info_footer .col-md-3:nth-child(2) ul .media {
    margin-bottom: 30px; }
    #info_footer .col-md-3:nth-child(2) ul .media p {
      margin-top: 0;
      margin-bottom: 2px;
      font-size: 13px;
      color: #e5e5e5; }
    #info_footer .col-md-3:nth-child(2) ul .media span {
      font-size: 12px;
      color: #989898; }

#info_footer .col-md-3:nth-child(2) .btn {
  width: 100%;
  position: relative;
  padding: 10px 0;
  font-size: 12px;
  background-color: black;
  border: 1px solid #1ccdca;
  color: #1ccdca; }
  #info_footer .col-md-3:nth-child(2) .btn .arrow-active {
    visibility: visible; }
  #info_footer .col-md-3:nth-child(2) .btn .arrow-hidden {
    visibility: hidden; }

#info_footer .col-md-3:nth-child(2) .btn-arrows-mouseover {
  color: #ffffff; }

/*-------------------------------------------------------
                      Column 3
------------------------------------------------------ */
#info_footer .col-md-3:nth-child(3) .cloud-tags {
  padding: 8px 7px;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: black;
  border: 1px solid black;
  outline: none;
  color: #989898;
  font-size: 12px; }

#info_footer .col-md-3:nth-child(3) .cloud-tags-change {
  border: 1px solid #1ccdca;
  color: #ffffff; }

#info_footer .col-md-3:nth-child(3) .column-row:nth-child(2) .row {
  padding: 0 10px; }
  #info_footer .col-md-3:nth-child(3) .column-row:nth-child(2) .row .col-xs-4 {
    padding: 2px 5px 5px 5px; }

/*-------------------------------------------------------
                         Column 4
------------------------------------------------------ */
@media (max-width: 768px) {
  #info_footer .col-xs-12 {
    margin-top: 40px; } }

#info_footer .col-md-3:nth-child(4) {
  /*-------------------------------------------------------
                       Video Modal
    ------------------------------------------------------ */ }
  #info_footer .col-md-3:nth-child(4) .column-row:nth-child(1) .footer-author {
    margin-top: 35px;
    border-radius: 4px;
    background-color: #ecf0f1;
    padding: 10px 5px 15px 15px;
    position: relative; }
    #info_footer .col-md-3:nth-child(4) .column-row:nth-child(1) .footer-author img {
      float: left;
      margin-top: -25px;
      max-width: 100px; }
    #info_footer .col-md-3:nth-child(4) .column-row:nth-child(1) .footer-author span {
      padding-left: 15px;
      color: #324545; }
    #info_footer .col-md-3:nth-child(4) .column-row:nth-child(1) .footer-author .author-social {
      margin-top: 10px; }
      #info_footer .col-md-3:nth-child(4) .column-row:nth-child(1) .footer-author .author-social a {
        padding-left: 15px;
        color: #777777; }
      #info_footer .col-md-3:nth-child(4) .column-row:nth-child(1) .footer-author .author-social .brand-color-change {
        color: #1ccdca; }
  #info_footer .col-md-3:nth-child(4) .column-row:nth-child(2) #popup_video {
    padding: 0;
    position: relative;
    display: block; }
    #info_footer .col-md-3:nth-child(4) .column-row:nth-child(2) #popup_video img {
      border: 3px solid black; }
    #info_footer .col-md-3:nth-child(4) .column-row:nth-child(2) #popup_video #play-button {
      position: absolute;
      border-radius: 50%;
      border: 2px solid #ffffff;
      background-color: #1ccdca;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #info_footer .col-md-3:nth-child(4) .column-row:nth-child(2) #popup_video #play-button i {
        padding: 15px;
        color: #ffffff; }
  #info_footer .col-md-3:nth-child(4) .modal {
    text-align: center;
    padding: 0 !important; }
  #info_footer .col-md-3:nth-child(4) .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; }
  #info_footer .col-md-3:nth-child(4) .modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle; }
  #info_footer .col-md-3:nth-child(4) .modal .modal-content {
    overflow: hidden;
    background-color: transparent !important;
    margin: auto; }
    @media (max-width: 768px) {
      #info_footer .col-md-3:nth-child(4) .modal .modal-content {
        width: 100%; } }
    #info_footer .col-md-3:nth-child(4) .modal .modal-content iframe {
      width: 100%;
      min-height: 360px;
      display: block;
      margin: auto; }

/*-------------------------------------------------------
                Section: Bottom Footer
------------------------------------------------------ */
footer .container-fluid {
  border-top: 1px dashed #989898;
  padding: 25px 0;
  background-color: #131619;
  color: #989898; }
  footer .container-fluid a {
    color: #1ccdca; }
  footer .container-fluid ul li {
    display: inline-block;
    padding: 0 5px; }
    footer .container-fluid ul li a {
      color: #989898; }
    footer .container-fluid ul li a:hover {
      color: #1ccdca;
      transition: all 0.7s ease; }
