/*-------------------------------------------------------
                      Media Sizes
------------------------------------------------------ */
$small-phone-size-max: 576px;
$phone-size-max: 768px;
$tablet-size-max: 992px;
$desktop-size-max: 1200px;
$large-desktop-size-min: 1200px;
/*-------------------------------------------------------
                      fonts
------------------------------------------------------ */

/* Oswald - Regular - latin */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/Oswald/oswald-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
  url('../css/fonts/Oswald/oswald-v16-latin-regular.eot?iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../css/fonts/Oswald/oswald-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../css/fonts/Oswald/oswald-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../css/fonts/Oswald/oswald-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../css/fonts/Oswald/oswald-v16-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* Open-Sans-Regular - latin */

@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/Open-Sans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../css/fonts/Open-Sans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../css/fonts/Open-Sans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../css/fonts/Open-Sans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../css/fonts/Open-Sans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../css/fonts/Open-Sans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4, h5 {
  font-family: Oswald, sans-serif;
}

p, li {
  font-family: Open-Sans, sans-serif;
}

/*-------------------------------------------------------
                      Main Colors
------------------------------------------------------ */
$main-heading-color: #324545;
$light-heading-color: #ffffff;
$main-brand-color: #1ccdca; /* bright blue */
$primary-red: #e74c3c;
$primary-white: #ffffff;
$welcome-banner-background: #1c2329;
$primary-dark-grey: #989898;
$main-light-grey-color: #e5e5e5;
$footer-btn-border: #2e7168;
$grey-text-color: #666666;
$primary-text-color: #aaa;
$light-text-color: #ffffff;
$line-fill-color: #1cc6df;

/* Background Colors */

$progress-bar-bg: #2a3136;
$top-menu-bg: #f9f9f9;
$footer-author-bg: #ecf0f1;
$light-blue-bg: #f9fafc;
$purple-bg: #674962;
$info-footer-bg: #191E21;
$footer-bg: #131619;
$body-bg: transparent;

/*-------------------------------------------------------
                      Headings
------------------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
  color: $main-heading-color;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/*-------------------------------------------------------
                      Transitions
------------------------------------------------------ */
.transition-three {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition-four {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.transition-seven {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/*-------------------------------------------------------
                  Links & Lists
------------------------------------------------------ */
a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------------
                  Section Padding
------------------------------------------------------ */
#welcome_banner {
  padding: 50px 0;
}

#why_us, #our_team, #our_services, #contact_us {
  padding: 90px 0;
}

#why_us, #our_team {
  background-color: $light-blue-bg;
  border: 1px solid $main-light-grey-color;
  border-left: none;
  border-right: none;
}

/*-------------------------------------------------------
             Headings Underline Animations
------------------------------------------------------ */
/* Header underline with circle in the middle */

.header-underline-circle {
  margin: 20px 0;
  .icon-circle {
    position: relative;
    top: 5px;
    margin: auto;
    width: 10px;
    height: 10px;
  }
  .fill-outline {
    width: 400px;
    margin: auto;
    height: 1px;
    background-color: $main-light-grey-color;
    .line-fill {
      margin: auto;
      width: 100px;
      height: 1px;
      background-color: $line-fill-color;
    }
    .line-filled {
      width: 250px;
      transition: all 0.4s ease;
    }
  }
}

/* Header underline with icon in the middle */
.animate-header-underline-icon {
  .header-underline-circle {
    position: relative;
    bottom: 25px;
    .icon-circle {
      position: relative;
      background-color: $light-blue-bg;
      width: 40px;
      height: 40px;
      top: 25px;
      border: none;
      i {
        font-size: 24px;
        color: $main-brand-color;
      }
    }
  }
}

/* Single underline with circle (#why_us) */
.icon-circle {
  position: relative;
  width: 10px;
  height: 10px;
  border: 1px solid $line-fill-color;
  border-radius: 50%;
  background-color: $primary-white;
}

.fill-outline {
  width: 230px;
  height: 1px;
  background-color: $main-light-grey-color;
  margin-top: 5px;
  .line-fill {
    background-color: #1cc6df;
    width: 100px;
    height: 1px;
  }
  .line-filled {
    width: 200px;
    transition: all 0.7s ease;
  }
}

/* Other Heading Animations */
.brand-color-active {
  color: $main-brand-color !important;
  transition: all 0.7s ease;
}

/*-------------------------------------------------------
                  Custom Parameters
------------------------------------------------------ */
.f-right {
  float: right;
}

.f-left {
  float: left;
}

/*-------------------------------------------------------
                      Section: Top Menu
------------------------------------------------------ */
/* top menu content */
#top_menu {
  @media (max-width: $tablet-size-max) {
    .menu-contacts, .menu-socials {
      width: 100%;
      text-align: center;
    }
    .menu-contacts {
      margin-bottom: 10px;
      .hide-small {
        display: none;
      }
    }
  }
  padding: 15px 0;
  background-color: $top-menu-bg;
  ul {
    color: $primary-dark-grey;
    list-style: none;
    li {
      display: inline-block;
      font-size: 12px;
      a {
        color: inherit;
        i {
          font-size: 13px;
        }
      }
    }
  }
  .menu-contacts {
    li {
      padding-right: 20px;
      i {
        padding-right: 5px;
      }
    }
  }
  .menu-socials {
    li {
      padding-left: 10px;
      i {
        font-size: 16px;
      }
    }
  }
}

.menu-trigger {
  display: none;
  background-color: $primary-white;
  border-top: 1px solid $main-light-grey-color;
  .btn {
    box-shadow: none;
    i {
      color: $main-brand-color;
    }
  }
}

/*-------------------------------------------------------
                      Section: Main Menu
------------------------------------------------------ */
#main_menu {
  .sticky-menu {
    position: fixed;
    top: 0;
  }
  .container {
    #menu_logo {
      position: relative;
      float: left;
      z-index: 3;
    }
  }
}
/*-------------------------------------------------------
                 Section: Welcome Banner
------------------------------------------------------ */
#welcome_banner {
  background-color: $welcome-banner-background;
  border-top: 1px dashed $main-light-grey-color;
  border-bottom: 3px solid black;
  h4 {
    color: $light-heading-color;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    color: $primary-text-color;
  }
}

/*-------------------------------------------------------
                   Section: Description
------------------------------------------------------ */
#description_section {
  background-color: $light-blue-bg;
  padding: 90px 0;
  .col-md-4 {
    margin-top: 0;
    .media {
      padding: 10px;
    }
    h6 {
      font-size: 17px;
      font-weight: 400;
      transition: all 0.7s ease;
    }
    p {
      font-size: 14px;
      color: $grey-text-color;
    }
    .icon-circle {
      position: relative;
      border-color: $main-brand-color;
      width: 85px;
      height: 85px;
      box-shadow: 0 0 0 10px transparent;
      transition: all 0.6s ease;
    }
    i {
      position: absolute;
      color: $main-brand-color;
      font-size: 34px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .icon-circle-active {
      background-color: $main-brand-color;
      box-shadow: 0 0 0 0 $main-brand-color;
      transition: all 0.6s ease;
      i {
        color: $primary-white !important;
      }
    }
    .media-body {
      padding-left: 15px;
    }
  }
}

/*-------------------------------------------------------
                   Section: Our Skills
------------------------------------------------------ */
#our_skills {
  background-size: cover;
  background: url("../test_images/bg_header4.jpg") no-repeat;
  .col-md-6 {
    padding: 20px 45px;
    background-color: #3c464d;
    h3 {
      color: $light-heading-color;
    }
    p {
      color: $primary-text-color;
      font-size: 14px;
      margin: 15px 0 45px;
    }
    .progress {
      position: absolute;
    }
    .progress-bar-custom, .title, .progress {
      line-height: 2;
      height: 30px;
      border-radius: 2px;
    }
    .progress-bar-custom {
      position: relative;
      background: $progress-bar-bg;
      margin-bottom: 20px;
    }
    .title {
      padding-left: 10px;
      float: left;
      h6 {
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        position: relative;
        left: -20px;
        color: transparent;
        z-index: 1;
        opacity: 0;
      }
    }
    .title-animated {
      h6 {
        left: 0;
        color: $primary-white;
        transition: all 1.5s ease;
        opacity: 1;
      }
    }
    .progress-value {
      z-index: 1;
      line-height: 1.5;
      margin: 3px 5px 0 0;
      padding: 1px 5px;
      position: relative;
      float: right;
      background-color: $primary-white;
      color: $main-heading-color;
      border-radius: 2px;
    }
    .web-design {
      background-color: #48adb9;
    }
    .programming {
      background-color: #3a93b2;
    }
    .html-css {
      background-color: #3a93b2;
    }
    .wordpress {
      background-color: #56c295;
    }
    .joomla {
      background-color: $primary-red;
    }
  }
}

/*-------------------------------------------------------
                  Section:  Why Us
------------------------------------------------------ */
#why_us {
  h4 {
    font-weight: 500;
    padding-bottom: 20px;
  }
  #why_underline_one, #why_underline_two {
    margin-bottom: 40px;
  }

  /* Dynamic Tabs */

  .tab-content {
    padding: 20px;
    overflow: hidden;
    background-color: $primary-white;
    border: 1px solid $main-light-grey-color;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    p {
      margin-bottom: 20px;
    }
    ul {
      li {
        list-style: none;
        margin-bottom: 10px;
        font-size: 14px;
        i {
          padding-right: 10px;
          color: $primary-red;
        }
      }
    }
    #quality {
      .tab-image {
        border: 3px solid #363248;
      }
    }
    #design {
      .tab-image {
        border: 3px solid #afc5ee;
      }
    }
    #programming {
      .tab-image {
        border: 3px solid #e26269;
      }
    }
    .tab-pane {
      .tab-list, .tab-image {
        overflow: hidden;
        width: 50%;
        float: left;
      }
      .tab-image {
        border-radius: 3px;
        max-height: 250px;
        img {
          margin: 0;
        }
      }
    }
  }
  .nav-tabs {
    .active {
      a {
        border-top: 1px solid $main-brand-color;
        color: $main-brand-color;
        transition: 0.7s ease;
      }
      a {
        border-bottom: 1px solid transparent;
      }
    }
    li {
      a {
        background-color: $primary-white;
        border: 1px solid $main-light-grey-color;
        margin-right: 0;
        border-radius: 0;
        font-size: 14px;
        color: #888;
      }
    }
  }
}

/*-------------------------------------------------------
                     Accordion
------------------------------------------------------ */

.panel {
  background-color: $primary-white;
  border: 1px solid $main-light-grey-color;
  border-radius: 4px;
}

.panel-active {
  background-color: $main-brand-color;
  color: $primary-white;
}

.panel-title {
  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    i {
      padding-right: 10px;
    }
  }
}

.glyphicon {
  line-height: 2;
  float: right;
  font-size: 12px;
  font-weight: 100;
}

/*-------------------------------------------------------
                Section: Running Numbers
------------------------------------------------------ */

#numerical_statistic {
  margin: 90px 0;
  .running-number {
    top: -100px;
    opacity: 0;
    transition: all 1s ease;

    .number-icon {
      color: $main-brand-color;
      font-size: 36px;
    }
    .number-run {
      font-family: Oswald, sans-serif;
      margin: 20px 0;
      font-weight: 700;
      font-size: 32px;
      color: $grey-text-color;
    }
    .count-text {
      font-size: 26px;
      font-weight: 200;
      color: $grey-text-color;
    }
  }
  .running-number-active {
    top: 0;
    opacity: 1;
    transition: all 1s ease;
  }
}

/*-------------------------------------------------------
                Section: Meet Our Team
------------------------------------------------------ */

#our_team {
  .carousel-indicators {
    li {
      border-color: $main-light-grey-color;
      background-color: $primary-white;
    }
    .active {
      border: 3px solid $primary-white;
      background-color: $main-brand-color;
    }
  }
  .container {
    .row:nth-child(1) {
      .col-xs-12 {
        span {
          font-size: 24px;
          font-weight: 200;
          color: $grey-text-color;
        }
      }
    }
    .row:nth-child(2) {
      .col-xs-12 {
        .carousel-inner {
          margin-top: 50px;
          padding-bottom: 50px;
          .row {
            .col-md-6 {
              .media {
                .media-body {
                  .team-info {
                    padding: 0 20px;
                    .team-member {
                      font-size: 18px;
                      color: $main-heading-color;
                      padding-bottom: 10px;
                    }
                    .team-member-active {
                      color: $main-brand-color;
                      transition: all 0.3s ease;
                    }
                    span, p {
                      color: #aaa;
                      font-size: 14px;
                    }
                    p {
                      margin-top: 10px;
                    }
                    .team-icons {
                      .icon-team {
                        position: relative;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background-color: $primary-white;
                        border: 1px solid $main-light-grey-color;
                        border-radius: 50%;
                        transition: all 0.7s ease;
                        i {
                          color: $grey-text-color;
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          font-size: 10px;
                          transition: all 0.7s ease;
                        }
                      }
                      .icon-team-active {
                        border-color: $main-brand-color;
                        transition: all 0.7s ease;
                        i {
                          color: $main-brand-color;
                          transition: all 0.7s ease;
                        }
                      }
                    }
                  }
                }
                .media-left, .media-right {
                  width: 30%;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------------------------
                Section: Our Services
------------------------------------------------------ */
#our_services {
  .container {
    h2 {
      margin-bottom: 60px;
    }
  }
  .row:nth-child(2) {
    padding-top: 80px;
    .col-md-6:nth-child(1) {
      .col-sm-12 {
        margin-bottom: 60px;
      }
      h6 {
        font-weight: 500;
      }
      .media-left {
        padding-right: 30px;
        .icon-circle {
          position: relative;
          background-color: $main-brand-color;
          width: 85px;
          height: 85px;
        }
        i {
          font-size: 34px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $primary-white;
        }
      }
    }
  }
}

/*-------------------------------------------------------
                Section: Contact Us
------------------------------------------------------ */
#contact_us {
  border-top: 1px solid $main-light-grey-color;
  background-color: $light-blue-bg;
  h4 {
    color: $main-brand-color;
  }
  .container {
    .row:nth-child(1) {
      h3 {
        margin-bottom: 15px;
      }
    }
    .row:nth-child(2) {
      i {
        padding-right: 10px;
      }
    }
    form {
      margin-top: 30px;
    }
    .col-sm-10 {
      input {
        padding: 10px 10px;
      }
    }
    .control-label {
      text-align: left;
      color: $grey-text-color;
      span {
        color: $primary-red;
        padding-left: 5px;
      }
    }
    textarea {
      resize: vertical;
    }
    button {
      padding: 10px 0;
      width: 100%;
      color: $light-text-color;
      background-color: $main-brand-color;
      border: none;
      i {
        padding-right: 10px;
      }
    }
  }
}

/*-------------------------------------------------------
                Section: Our Location
------------------------------------------------------ */
#our_location {
  background-color: $purple-bg;
  color: $primary-white;
  padding: 30px 0;
  h2 {
    color: $light-heading-color;
  }
}

/*-------------------------------------------------------
                      Google Map
------------------------------------------------------ */
#map_container {
  height: 400px;
}

/*-------------------------------------------------------
           Section: Informational Footer
------------------------------------------------------ */
/* General parameters for the section */

#info_footer {
  padding: 90px 0;
  background-color: $info-footer-bg;
  color: $primary-white;
}

#info_footer {
  .col-md-3 {
    .column-row {
      h6 {
        font-family: Open-Sans, sans-serif;
        margin-bottom: 20px;
        font-weight: 500;
        color: $light-heading-color;
      }
      p {
        margin-bottom: 28px;
        font-size: 13px;
        color: $primary-dark-grey;
      }
    }
    .column-row:nth-child(2n) {
      margin-top: 35px;
      padding-top: 35px;
      border-top: 1px solid $primary-dark-grey;
    }
  }
}

/*-------------------------------------------------------
                     Column 1
------------------------------------------------------ */
#info_footer {
  .container {
    .row {
      .col-md-3:nth-child(1) {
        .column-row:nth-child(1) {
          img {
            padding-bottom: 15px;
          }
          .btn {
            border: none;
            padding: 10px;
            outline: none;
            background-color: black;
            color: $primary-white;
            i:nth-child(1) {
              padding-right: 5px;
            }
            i:nth-child(2) {
            }
          }
        }
        .column-row:nth-child(2) {
          .form-group {
            .form-control {
              width: 85%;
              float: left;
              height: 35px;
              border-right: none;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            .btn {
              width: 15%;
              height: 35px;
              position: relative;
              float: right;
              color: $primary-white;
              border-left: $footer-btn-border;
              background: $main-brand-color;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------------------------
                         Column 2
------------------------------------------------------ */
#info_footer {
  .col-md-3:nth-child(2) {
    ul {
      list-style: none;
      .media {
        margin-bottom: 30px;
        p {
          margin-top: 0;
          margin-bottom: 2px;
          font-size: 13px;
          color: $main-light-grey-color;
        }
        span {
          font-size: 12px;
          color: $primary-dark-grey;
        }
      }
    }
    .btn {
      width: 100%;
      position: relative;
      padding: 10px 0;
      font-size: 12px;
      background-color: black;
      border: 1px solid $main-brand-color;
      color: $main-brand-color;
      .arrow-active {
        visibility: visible;
      }
      .arrow-hidden {
        visibility: hidden;
      }
    }
    .btn-arrows-mouseover {
      color: $primary-white;
    }
  }
}

/*-------------------------------------------------------
                      Column 3
------------------------------------------------------ */
#info_footer {
  .col-md-3:nth-child(3) {
    .cloud-tags {
      padding: 8px 7px;
      margin-bottom: 5px;
      border-radius: 3px;
      background-color: black;
      border: 1px solid black;
      outline: none;
      color: $primary-dark-grey;
      font-size: 12px;
    }
    .cloud-tags-change {
      border: 1px solid $main-brand-color;
      color: $primary-white;
    }
    .column-row:nth-child(2) {
      .row {
        padding: 0 10px;

        .col-xs-4 {
          padding: 2px 5px 5px 5px;
        }
      }
    }
  }
}

/*-------------------------------------------------------
                         Column 4
------------------------------------------------------ */
#info_footer {
  .col-xs-12 {
    @media (max-width: $phone-size-max) {
      margin-top: 40px;
    }
  }
  .col-md-3:nth-child(4) {
    .column-row:nth-child(1) {
      .footer-author {
        margin-top: 35px;
        border-radius: 4px;
        background-color: $footer-author-bg;
        padding: 10px 5px 15px 15px;
        position: relative;
        img {
          float: left;
          margin-top: -25px;
          max-width: 100px;
        }
        span {
          padding-left: 15px;
          color: $main-heading-color;
        }
        .author-social {
          margin-top: 10px;
          a {
            padding-left: 15px;
            color: #777777;
          }
          .brand-color-change {
            color: $main-brand-color;
          }
        }
      }
    }
    .column-row:nth-child(2) {
      #popup_video {
        padding: 0;
        position: relative;
        display: block;
        img {
          border: 3px solid black;
        }
        #play-button {
          position: absolute;
          border-radius: 50%;
          border: 2px solid $primary-white;
          background-color: $main-brand-color;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          i {
            padding: 15px;
            color: $primary-white;
          }
        }
      }
    }
    /*-------------------------------------------------------
                       Video Modal
    ------------------------------------------------------ */
    .modal {
      text-align: center;
      padding: 0 !important;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }
    .modal {
      .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
      }
      .modal-content {
        @media (max-width: $phone-size-max) {
          width: 100%;
        }
        overflow: hidden;
        background-color: transparent !important;
        margin: auto;

        iframe {
          width: 100%;
          min-height: 360px;
          display: block;
          margin: auto;
        }
      }
    }
  }
}

/*-------------------------------------------------------
                Section: Bottom Footer
------------------------------------------------------ */

footer {
  .container-fluid {
    border-top: 1px dashed $primary-dark-grey;
    padding: 25px 0;
    background-color: $footer-bg;
    color: $primary-dark-grey;
    a {
      color: $main-brand-color;
    }
    ul {
      li {
        display: inline-block;
        padding: 0 5px;
        a {
          color: $primary-dark-grey;
        }
        a:hover {
          color: $main-brand-color;
          transition: all 0.7s ease;
        }
      }
    }
  }
}