<!-- Footer start -->
<footer class="container-fluid">
    <div class="container">
        <!-- Footer for a desktop and table screens start -->
        <div class="screen-lg">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <h5 class="text-uppercase">Информация</h5>
                    <ul>
                        <li>
                            <a href="gallery" class="transition-four">Галерия</a><i class="fas fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="installation" class="transition-four">Монтаж</a><i
                                class="fas fa-angle-right"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <h5 class="text-uppercase">Контакты</h5>
                    <ul>
                        <li>Шяуляй, Литва</li>
                        <li>+370 640 71000</li>
                        <li>+370 687 35743</li>
                        <li>info@decoratus.lt</li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <h5 class="text-uppercase">Подпишитесь</h5>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/decoratus.lt/" class="transition-four">Facebook</a><i
                                class="fas fa-angle-right"></i>
                        </li>
                        <!--
                        <li>
                            <a href="#" class="transition-four">LinkedIn</a><i class="fas fa-angle-right"></i>
                        </li>
                        -->
                        <li>
                            <a href="https://www.instagram.com/decoratus/" class="transition-four">Instagram</a><i
                                class="fas fa-angle-right"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                Возможно производство продукции по индивидуальным заказам, различных форм и размеров,
                                которые не представлены в каталоге. Для получения более подробной информации, свяжитесь
                                с нами.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="mailto:info@decoratus.lt" class="btn btn-block transition-four">Свяжитесь с Нами</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer for a desktop and table screens finish -->
        <!-- Footer for a phone screen start -->
        <div class="screen-sm">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-uppercase" data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Информация
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse card-content" aria-labelledby="headingTwo"
                         data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <a href="gallery" class="transition-four">
                                        <i class="fas fa-angle-right"></i>
                                        Галерия
                                    </a>
                                </li>
                                <li>
                                    <a href="installation" class="transition-four">
                                        <i class="fas fa-angle-right"></i>
                                        Монтаж
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-uppercase" data-toggle="collapse"
                                    data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Контакты
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse card-content" aria-labelledby="headingTwo"
                         data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>Шяуляй, Литва</li>
                                <li>+370 640 71000</li>
                                <li>+370 687 35743</li>
                                <li>info@decoratus.lt</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-uppercase" data-toggle="collapse"
                                    data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                Подпишитесь
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse card-content" aria-labelledby="headingThree"
                         data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/decoratus.lt/" class="transition-four">
                                        <i class="fas fa-angle-right"></i>
                                        Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/decoratus/" class="transition-four">
                                        <i class="fas fa-angle-right"></i>
                                        Instagram
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a href="#" class="transition-four">
                                        <i class="fas fa-angle-right"></i>
                                        LinkedIn
                                    </a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-message">
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Возможно производство продукции по индивидуальным заказам, различных форм и размеров,
                            которые не представлены в каталоге. Для получения более подробной информации, свяжитесь
                            с нами.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="mailto:info@decoratus.lt" class="btn btn-block transition-four text-uppercase">Свяжитесь с Нами</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer for a phone screen finish -->
    <!--
    <div id="copyright" class="container text-center">
        <span><i class="far fa-copyright"></i>Decoratus | 2018</span>
    </div>
    -->
</footer>
<!-- Footer finish -->