<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135014515-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135014515-1');
</script>
<!-- Nav start -->
<div id="small_nav_menu" class="container-fluid transition-three">
    <!-- Overlay menu for tablets and phones on click start -->
    <div class="container">
        <div class="overlay-content">
            <ul>
                <li>
                    <a href="gypsum_molding" class="transition-four">Gypsum Molding</a>
                </li>
                <li>
                    <a href="exterior_elements" class="transition-four">Exterior Elements</a>
                </li>
                <li>
                    <a href="decorative_finish" class="transition-four">Decorative Finish</a>
                </li>
                <li>
                    <a href="decorative_elements" class="transition-four">Decorative Elements</a>
                </li>
                <li>
                    <a href="gallery" class="transition-four">Gallery</a>
                </li>
                <li>
                    <a href="contacts" class="transition-four">Contacts</a>
                </li>
                <li>
                    <a href="../index" class="transition-four">LT<span>/</span></a>
                    <a href="../ru/index" class="transition-four">RU<span><!--/</span>--></a>
                    <!--<a href="#" class="transition-four">De</a>-->
                </li>
            </ul>
        </div>
        <div class="btn" id="overlay_button">
            <i class="large material-icons">close</i>
        </div>
    </div>
</div>
<!-- Overlay menu for tablets and phones on click finish -->
<div class="container-fluid transition-three" id="nav_menu"> <!-- Regular menu for desktop start -->
    <div class="container">
        <div id="brand_logo" class="f-left">
            <a href="index">
                <img src="../img/logo/decoratus_logo_white.png">
            </a>
        </div>
        <div id="nav_tabs" class="f-left">
            <ul>
                <li>
                    <a href="gypsum_molding" class="text-uppercase transition-four">Gypsum Molding</a>
                </li>
                <li>
                    <a href="exterior_elements" class="text-uppercase transition-four">Exterior Elements</a>
                </li>
                <li>
                    <a href="decorative_finish" class="text-uppercase transition-four">Decorative Finish</a>
                </li>
                <li>
                    <a href="decorative_elements" class="text-uppercase transition-four">Decorative Elements</a>
                </li>
                <li>
                    <a href="gallery" class="text-uppercase transition-four">Gallery</a>
                </li>
                <li>
                    <a href="contacts" class="text-uppercase transition-four">Contacts</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="../index" class="text-uppercase transition-four">LT</a>
                </li>
                <li>
                    <span>/</span>
                </li>
                <li>
                    <a href="../ru/index" class="text-uppercase transition-four">RU</a>
                </li>
                <!--<li>
                    <span>/</span>
                </li>
                <li>
                    <a href="#" class="text-uppercase transition-four">De</a>
                </li>-->
            </ul>
        </div>
        <div id="small_nav_btn">
            <button class="btn text-uppercase">
                Menu <i class="fas fa-ellipsis-v"></i>
            </button>
        </div>
    </div>
</div><!-- Regular menu for desktop finish -->
<!-- Nav finish -->

<script type="text/javascript" src="../js/nav.js"></script>
