/*-------------------------------------------------------
                      Media Sizes
------------------------------------------------------ */
/*-------------------------------------------------------
                      General
------------------------------------------------------ */
* {
  box-sizing: border-box; }

@media (min-width: 992px) {
  .container {
    width: 980px; } }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

/*-------------------------------------------------------
                      Fonts
------------------------------------------------------ */
@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: normal;
  src: local("Zapfino"), url("../fonts/zapfino/Zapfino.woff") format("woff"); }

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/roboto-v18-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto/roboto-v18-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-100.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-100.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-100.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-100.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v18-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/roboto-v18-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-300.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-300.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-300.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v18-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v18-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-500.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-700.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

body, html {
  height: 100%; }

body {
  font-family: Roboto, sans-serif; }

img {
  height: 100%; }

.zapfino {
  font-family: Zapfino, sans-serif; }
  @media (max-width: 767px) {
    .zapfino {
      line-height: 80px;
      font-size: 30px !important; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px; }

/*-------------------------------------------------------
                      Main Colors
------------------------------------------------------ */
/*-------------------------------------------------------
                      Transitions
------------------------------------------------------ */
.transition-three {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.transition-four {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

/*-------------------------------------------------------
             Headings Underline Animations
------------------------------------------------------ */
/* Header underline with circle in the middle */
.animate-header-underline .fill-outline {
  width: 200px;
  margin: auto;
  height: 2px;
  background-color: transparent; }
  .animate-header-underline .fill-outline .line-fill {
    margin: auto;
    width: 100px;
    height: 1px;
    background-color: #1F1F1F; }

.animate-header-underline:hover .line-fill {
  width: 150px; }

.album-title-line {
  display: inline-block;
  padding-bottom: 4px;
  padding-left: 5px;
  transition: all 0.4s ease; }
  .album-title-line div {
    background-color: #1F1F1F;
    width: 80px;
    height: 1px; }

/*-------------------------------------------------------
                  Links & Lists
------------------------------------------------------ */
a {
  text-decoration: none !important; }

/*-------------------------------------------------------
                 Custom Classes
------------------------------------------------------ */
.f-left {
  float: left; }

.f-right {
  float: right; }

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.col-centered {
  float: none;
  margin: 0 auto; }

.filter-light {
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0.4;
  background-color: #FFFFFF; }

.filter-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #1F1F1F; }

.box-active {
  opacity: 1 !important; }

/*-------------------------------------------------------
                      Media Sizes
------------------------------------------------------ */
/*-------------------------------------------------------
                      General
------------------------------------------------------ */
* {
  box-sizing: border-box; }

@media (min-width: 992px) {
  .container {
    width: 980px; } }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

/*-------------------------------------------------------
                      Fonts
------------------------------------------------------ */
@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: normal;
  src: local("Zapfino"), url("../fonts/zapfino/Zapfino.woff") format("woff"); }

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/roboto-v18-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto/roboto-v18-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-100.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-100.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-100.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-100.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v18-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/roboto-v18-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-300.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-300.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-300.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v18-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v18-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-500.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-700.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

body, html {
  height: 100%; }

body {
  font-family: Roboto, sans-serif; }

img {
  height: 100%; }

.zapfino {
  font-family: Zapfino, sans-serif; }
  @media (max-width: 767px) {
    .zapfino {
      line-height: 80px;
      font-size: 30px !important; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px; }

/*-------------------------------------------------------
                      Main Colors
------------------------------------------------------ */
/*-------------------------------------------------------
                      Transitions
------------------------------------------------------ */
.transition-three {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.transition-four {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

/*-------------------------------------------------------
             Headings Underline Animations
------------------------------------------------------ */
/* Header underline with circle in the middle */
.animate-header-underline .fill-outline {
  width: 200px;
  margin: auto;
  height: 2px;
  background-color: transparent; }
  .animate-header-underline .fill-outline .line-fill {
    margin: auto;
    width: 100px;
    height: 1px;
    background-color: #1F1F1F; }

.animate-header-underline:hover .line-fill {
  width: 150px; }

.album-title-line {
  display: inline-block;
  padding-bottom: 4px;
  padding-left: 5px;
  transition: all 0.4s ease; }
  .album-title-line div {
    background-color: #1F1F1F;
    width: 80px;
    height: 1px; }

/*-------------------------------------------------------
                  Links & Lists
------------------------------------------------------ */
a {
  text-decoration: none !important; }

/*-------------------------------------------------------
                 Custom Classes
------------------------------------------------------ */
.f-left {
  float: left; }

.f-right {
  float: right; }

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.col-centered {
  float: none;
  margin: 0 auto; }

.filter-light {
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0.4;
  background-color: #FFFFFF; }

.filter-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #1F1F1F; }

.box-active {
  opacity: 1 !important; }

/* Navigation menu */
#small_nav_menu {
  display: none;
  /* The Overlay (background) */
  z-index: 2;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9); }
  @media (min-width: 993px) {
    #small_nav_menu {
      display: none !important; } }
  #small_nav_menu .container {
    padding-top: 80px; }
    #small_nav_menu .container .overlay-content {
      position: relative;
      top: 25%;
      width: 90%;
      float: left;
      text-align: left; }
      #small_nav_menu .container .overlay-content ul li {
        padding-bottom: 12px; }
        #small_nav_menu .container .overlay-content ul li a {
          text-decoration: none;
          font-size: 24px;
          font-weight: 300;
          color: #FFFFFF;
          opacity: 0.6; }
      #small_nav_menu .container .overlay-content ul li:hover a {
        opacity: 1; }
      #small_nav_menu .container .overlay-content ul li:last-child {
        padding-top: 10px; }
        #small_nav_menu .container .overlay-content ul li:last-child a span {
          padding: 0 10px;
          color: #FFFFFF;
          opacity: 0.6; }
        #small_nav_menu .container .overlay-content ul li:last-child a:hover {
          color: #CEB758; }
    #small_nav_menu .container #overlay_button {
      width: 10%;
      float: right;
      padding: 0; }
      #small_nav_menu .container #overlay_button i {
        color: #FFFFFF;
        font-size: 26px; }

#nav_menu {
  width: 100%;
  z-index: 1;
  background-color: #1F1F1F;
  opacity: 0.8;
  overflow: hidden;
  position: fixed;
  top: 0; }
  #nav_menu .container {
    padding: 20px 15px; }
    #nav_menu .container #brand_logo {
      width: 13%;
      float: left; }
    #nav_menu .container #nav_tabs {
      width: 87%;
      float: right; }
      @media (max-width: 993px) {
        #nav_menu .container #nav_tabs {
          display: none; } }
      #nav_menu .container #nav_tabs ul {
        padding-top: 8px; }
        #nav_menu .container #nav_tabs ul li {
          display: inline-block;
          padding-left: 10px; }
          #nav_menu .container #nav_tabs ul li a {
            color: #FFFFFF;
            font-size: 11px;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0.5px; }
          #nav_menu .container #nav_tabs ul li a:hover {
            color: #CEB758; }
      #nav_menu .container #nav_tabs ul:nth-child(1) {
        padding-left: 50px;
        width: 85%;
        float: left; }
      #nav_menu .container #nav_tabs ul:nth-child(2) {
        width: 15%;
        float: right;
        text-align: right; }
    #nav_menu .container #small_nav_btn {
      float: right; }
      @media (min-width: 993px) {
        #nav_menu .container #small_nav_btn {
          display: none; } }
      #nav_menu .container #small_nav_btn button {
        background-color: transparent;
        box-shadow: none;
        outline: none;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px; }
        #nav_menu .container #small_nav_btn button i {
          padding-left: 5px; }

#nav_menu:hover {
  opacity: 1; }

.nav-menu-scrolled {
  opacity: 1 !important; }

/* Cover Image */
.cover-img {
  overflow: hidden;
  height: 100%;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-box-shadow: inset 0px -200px 100px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -200px 100px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -200px 100px 0px rgba(0, 0, 0, 0.75); }
  .cover-img .container {
    height: 100%;
    position: relative; }
    .cover-img .container #cover_text {
      text-align: center;
      position: absolute;
      width: 100%;
      padding-right: 50px;
      top: 80%; }
      @media (max-width: 767px) {
        .cover-img .container #cover_text {
          top: 75%; } }
      .cover-img .container #cover_text p {
        color: #FFFFFF;
        font-size: 40px; }

/*-------------------------------------------------------
                      Media Sizes
------------------------------------------------------ */
/*-------------------------------------------------------
                      General
------------------------------------------------------ */
* {
  box-sizing: border-box; }

@media (min-width: 992px) {
  .container {
    width: 980px; } }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

/*-------------------------------------------------------
                      Fonts
------------------------------------------------------ */
@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: normal;
  src: local("Zapfino"), url("../fonts/zapfino/Zapfino.woff") format("woff"); }

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/roboto-v18-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto/roboto-v18-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-100.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-100.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-100.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-100.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/roboto-v18-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/roboto-v18-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-300.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-300.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-300.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v18-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v18-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-500.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v18-latin-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-700.woff") format("woff"), url("../fonts/roboto/roboto-v18-latin-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v18-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

body, html {
  height: 100%; }

body {
  font-family: Roboto, sans-serif; }

img {
  height: 100%; }

.zapfino {
  font-family: Zapfino, sans-serif; }
  @media (max-width: 767px) {
    .zapfino {
      line-height: 80px;
      font-size: 30px !important; } }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px; }

/*-------------------------------------------------------
                      Main Colors
------------------------------------------------------ */
/*-------------------------------------------------------
                      Transitions
------------------------------------------------------ */
.transition-three {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.transition-four {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

/*-------------------------------------------------------
             Headings Underline Animations
------------------------------------------------------ */
/* Header underline with circle in the middle */
.animate-header-underline .fill-outline {
  width: 200px;
  margin: auto;
  height: 2px;
  background-color: transparent; }
  .animate-header-underline .fill-outline .line-fill {
    margin: auto;
    width: 100px;
    height: 1px;
    background-color: #1F1F1F; }

.animate-header-underline:hover .line-fill {
  width: 150px; }

.album-title-line {
  display: inline-block;
  padding-bottom: 4px;
  padding-left: 5px;
  transition: all 0.4s ease; }
  .album-title-line div {
    background-color: #1F1F1F;
    width: 80px;
    height: 1px; }

/*-------------------------------------------------------
                  Links & Lists
------------------------------------------------------ */
a {
  text-decoration: none !important; }

/*-------------------------------------------------------
                 Custom Classes
------------------------------------------------------ */
.f-left {
  float: left; }

.f-right {
  float: right; }

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.col-centered {
  float: none;
  margin: 0 auto; }

.filter-light {
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0.4;
  background-color: #FFFFFF; }

.filter-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #1F1F1F; }

.box-active {
  opacity: 1 !important; }

footer {
  background-color: #F5F5F5;
  padding: 40px 15px; }
  @media (max-width: 767px) {
    footer {
      padding: 0 0 40px 0 !important;
      background-color: #1F1F1F; }
      footer .container {
        padding: 0; } }
  @media (max-width: 767px) {
    footer .screen-lg {
      display: none; } }
  footer .screen-lg .col-sm-3:last-child .row:nth-child(2) .col-xs-12 a {
    background-color: #1F1F1F;
    border: 1px solid transparent;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px; }
  footer .screen-lg .col-sm-3:last-child .row:nth-child(2) .col-xs-12 a:hover {
    background-color: transparent;
    border: 1px solid #1F1F1F;
    color: #1F1F1F; }
  footer .screen-lg h5 {
    color: #1F1F1F;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px; }
  footer .screen-lg p {
    color: #1F1F1F;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px; }
  footer .screen-lg ul li {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #1F1F1F; }
    footer .screen-lg ul li a {
      color: #1F1F1F; }
    footer .screen-lg ul li i {
      width: 0;
      visibility: hidden;
      transition: all 0.5s ease;
      padding-left: 5px;
      font-size: 10px; }
  footer .screen-lg ul li:hover i {
    width: 10%;
    visibility: visible;
    padding-left: 10px;
    color: #CEB758; }
  footer .screen-lg ul li:hover a {
    color: #CEB758; }
  @media (min-width: 768px) {
    footer .screen-sm {
      display: none; } }
  footer .screen-sm .footer-message {
    padding: 0 27px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 18px;
    letter-spacing: 0.5px; }
    footer .screen-sm .footer-message .row:nth-child(2) .col-xs-12 {
      margin-top: 10px; }
      footer .screen-sm .footer-message .row:nth-child(2) .col-xs-12 a {
        background-color: #FFFFFF;
        border-radius: 0;
        font-size: 10px;
        font-weight: 500;
        color: #1F1F1F;
        line-height: 18px;
        letter-spacing: 1px; }
  footer .screen-sm #accordion {
    margin-bottom: 30px; }
    footer .screen-sm #accordion .card .card-header {
      padding: 0 15px;
      border-bottom: 0.5px solid #5A5858; }
      footer .screen-sm #accordion .card .card-header h5 {
        margin-bottom: 0; }
        footer .screen-sm #accordion .card .card-header h5 .btn {
          padding: 15px 12px;
          outline: none;
          text-decoration: none;
          color: #FFFFFF;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 2px; }
    footer .screen-sm #accordion .card .card-content .card-body {
      padding: 0;
      background-color: #FFFFFF; }
      footer .screen-sm #accordion .card .card-content .card-body ul li {
        line-height: 18px;
        padding: 10px 27px;
        border-bottom: 0.5px solid #D6D5D5;
        font-size: 12px;
        letter-spacing: 0.5px; }
        footer .screen-sm #accordion .card .card-content .card-body ul li i {
          font-size: 12px;
          padding-right: 5px; }
        footer .screen-sm #accordion .card .card-content .card-body ul li a {
          color: #1F1F1F;
          font-weight: 400; }
      footer .screen-sm #accordion .card .card-content .card-body ul li:hover a {
        color: #CEB758; }

/* Cover Image */
#exterior_gallery_cover {
  height: 70%;
  background-color: #1F1F1F; }
  @media (max-width: 767px) {
    #exterior_gallery_cover #cover_text {
      top: 60%; } }

#exterior_gallery_content {
  padding: 50px 15px; }
  #exterior_gallery_content .container .row a {
    color: #1F1F1F; }
    #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(1) {
      padding: 0 15px; }
      #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(1) .col-xs-12 {
        height: 350px; }
    #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(2) {
      padding: 0 15px; }
      #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(2) .col-xs-12 {
        margin-top: -80px;
        position: relative;
        width: 300px;
        height: 175px;
        background-color: #FFFFFF; }
        #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(2) .col-xs-12 .album-title {
          padding-left: 15px;
          width: 100%;
          position: absolute; }
          #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(2) .col-xs-12 .album-title h3 {
            font-size: 24px !important;
            line-height: 38px;
            margin-bottom: 0; }
          #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(2) .col-xs-12 .album-title span {
            font-size: 14px;
            font-weight: 300; }
    #exterior_gallery_content .container .row a .col-md-6 .row:nth-child(2):hover .album-title .album-title-line {
      padding-left: 15px; }
  #exterior_gallery_content .container .row:nth-child(1) a:nth-child(1) .col-md-6 .row:nth-child(1) .col-xs-12 {
    background-size: cover !important;
    background: url("../img/pacu_rumai/album_cover_1.jpg") center top; }
  #exterior_gallery_content .container .row:nth-child(1) a:nth-child(2) .col-md-6 .row:nth-child(1) .col-xs-12 {
    background-size: cover !important;
    background: url("../img/pacu_rumai/album_cover_2.jpg") center top; }
