/*-------------------------------------------------------
                      Media Sizes
------------------------------------------------------ */
/*-------------------------------------------------------
                      General
------------------------------------------------------ */
* {
  box-sizing: border-box; }

@media (min-width: 992px) {
  .container {
    width: 980px; } }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

/*-------------------------------------------------------
                      Fonts
------------------------------------------------------ */
@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: normal;
  src: local("Zapfino"), url("../fonts/zapfino/Zapfino.woff") format("woff"); }

@font-face {
  font-family: 'Russkopis';
  src: url("../fonts/russkopis/Russkopis-Normalny.otf"); }

/* roboto-100 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-ext/roboto-v18-latin-ext-100.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto-ext/roboto-v18-latin-ext-100.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-100.woff2") format("woff2"), url("../fonts/roboto-ext/roboto-v18-latin-ext-100.woff") format("woff"), url("../fonts/roboto-ext/roboto-v18-latin-ext-100.ttf") format("truetype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-100.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-300 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-ext/roboto-v18-latin-ext-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-ext/roboto-v18-latin-ext-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-300.woff2") format("woff2"), url("../fonts/roboto-ext/roboto-v18-latin-ext-300.woff") format("woff"), url("../fonts/roboto-ext/roboto-v18-latin-ext-300.ttf") format("truetype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-ext/roboto-v18-latin-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-ext/roboto-v18-latin-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-regular.woff2") format("woff2"), url("../fonts/roboto-ext/roboto-v18-latin-ext-regular.woff") format("woff"), url("../fonts/roboto-ext/roboto-v18-latin-ext-regular.ttf") format("truetype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-ext/roboto-v18-latin-ext-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-ext/roboto-v18-latin-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-500.woff2") format("woff2"), url("../fonts/roboto-ext/roboto-v18-latin-ext-500.woff") format("woff"), url("../fonts/roboto-ext/roboto-v18-latin-ext-500.ttf") format("truetype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-ext/roboto-v18-latin-ext-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-ext/roboto-v18-latin-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-700.woff2") format("woff2"), url("../fonts/roboto-ext/roboto-v18-latin-ext-700.woff") format("woff"), url("../fonts/roboto-ext/roboto-v18-latin-ext-700.ttf") format("truetype"), url("../fonts/roboto-ext/roboto-v18-latin-ext-700.svg#Roboto") format("svg");
  /* Legacy iOS */ }

body, html {
  height: 100%; }

body {
  font-family: RobotoExt, sans-serif; }

.zapfino {
  font-family: Zapfino, sans-serif; }
  @media (max-width: 767px) {
    .zapfino {
      line-height: 80px;
      font-size: 30px !important; } }

.russkopis {
  font-family: Russkopis, sans-serif;
  font-size: 400% !important; }
  @media (max-width: 767px) {
    .russkopis {
      line-height: 50px; } }

img {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px; }

h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px; }

/*-------------------------------------------------------
                      Main Colors
------------------------------------------------------ */
/*-------------------------------------------------------
                      Transitions
------------------------------------------------------ */
.transition-three {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.transition-four {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

/*-------------------------------------------------------
             Headings Underline Animations
------------------------------------------------------ */
/* Header underline with circle in the middle */
.animate-header-underline .fill-outline {
  width: 200px;
  margin: auto;
  height: 2px;
  background-color: transparent; }
  .animate-header-underline .fill-outline .line-fill {
    margin: auto;
    width: 100px;
    height: 1px;
    background-color: #1F1F1F; }

.animate-header-underline:hover .line-fill {
  width: 150px; }

.album-title-line {
  display: inline-block;
  padding-bottom: 4px;
  padding-left: 5px;
  transition: all 0.4s ease; }
  .album-title-line div {
    background-color: #1F1F1F;
    width: 80px;
    height: 1px; }

/*-------------------------------------------------------
                  Links & Lists
------------------------------------------------------ */
a {
  text-decoration: none !important; }

/*-------------------------------------------------------
                 Custom Classes
------------------------------------------------------ */
.f-left {
  float: left; }

.f-right {
  float: right; }

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.col-centered {
  float: none;
  margin: 0 auto; }

.filter-light {
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0.4;
  background-color: #FFFFFF; }

.filter-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #1F1F1F; }

.box-active {
  opacity: 1 !important; }

@media (max-width: 768px) {
  .block-hide-phone {
    display: none; } }

footer {
  background-color: #F5F5F5;
  padding: 40px 15px 20px; }
  @media (max-width: 767px) {
    footer {
      padding: 0 0 40px 0 !important;
      background-color: #1F1F1F; }
      footer .container {
        padding: 0; } }
  footer #copyright {
    padding: 5px 10px;
    background-color: inherit; }
    footer #copyright span {
      font-size: 12px;
      color: #FFFFFF; }
      footer #copyright span i {
        padding-right: 5px;
        font-size: 10px; }
  @media (max-width: 767px) {
    footer .screen-lg {
      display: none; } }
  footer .screen-lg .col-sm-3:last-child .row:nth-child(2) .col-xs-12 a {
    background-color: #1F1F1F;
    border: 1px solid transparent;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px; }
  footer .screen-lg .col-sm-3:last-child .row:nth-child(2) .col-xs-12 a:hover {
    background-color: transparent;
    border: 1px solid #1F1F1F;
    color: #1F1F1F; }
  footer .screen-lg h5 {
    color: #1F1F1F;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px; }
  footer .screen-lg p {
    color: #1F1F1F;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px; }
  footer .screen-lg ul li {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #1F1F1F; }
    footer .screen-lg ul li a {
      color: #1F1F1F; }
    footer .screen-lg ul li i {
      width: 0;
      visibility: hidden;
      transition: all 0.5s ease;
      padding-left: 5px;
      font-size: 10px; }
  footer .screen-lg ul li:hover i {
    width: 10%;
    visibility: visible;
    padding-left: 10px;
    color: #CEB758; }
  footer .screen-lg ul li:hover a {
    color: #CEB758; }
  footer .screen-sm {
    z-index: 3 !important; }
    @media (min-width: 768px) {
      footer .screen-sm {
        display: none; } }
    footer .screen-sm .footer-message {
      padding: 0 27px;
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      color: #FFFFFF;
      line-height: 18px;
      letter-spacing: 0.5px; }
      footer .screen-sm .footer-message .row:nth-child(2) .col-xs-12 {
        margin-top: 10px; }
        footer .screen-sm .footer-message .row:nth-child(2) .col-xs-12 a {
          background-color: #FFFFFF;
          border-radius: 0;
          font-size: 10px;
          font-weight: 500;
          color: #1F1F1F;
          line-height: 18px;
          letter-spacing: 1px; }
    footer .screen-sm #accordion {
      margin-bottom: 30px; }
      footer .screen-sm #accordion .card .card-header {
        padding: 0 15px;
        border-bottom: 0.5px solid #5A5858; }
        footer .screen-sm #accordion .card .card-header h5 {
          margin-bottom: 0; }
          footer .screen-sm #accordion .card .card-header h5 .btn {
            padding: 15px 12px;
            outline: none;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 2px; }
      footer .screen-sm #accordion .card .card-content .card-body {
        padding: 0;
        background-color: #FFFFFF; }
        footer .screen-sm #accordion .card .card-content .card-body ul li {
          line-height: 18px;
          padding: 10px 27px;
          border-bottom: 0.5px solid #D6D5D5;
          font-size: 12px;
          letter-spacing: 0.5px; }
          footer .screen-sm #accordion .card .card-content .card-body ul li i {
            font-size: 12px;
            padding-right: 5px; }
          footer .screen-sm #accordion .card .card-content .card-body ul li a {
            color: #1F1F1F;
            font-weight: 400; }
        footer .screen-sm #accordion .card .card-content .card-body ul li:hover a {
          color: #CEB758; }
