/*-------------------------------------------------------
                      Media Sizes
------------------------------------------------------ */

$small-phone-size-max: 576px;
$phone-size-max: 767px;
$tablet-size-min: 768px;
$tablet-size-max: 992px;
$desktop-size-min: 993px;
$desktop-size-max: 1199px;
$large-desktop-size-min: 1200px;

/*-------------------------------------------------------
                      General
------------------------------------------------------ */
* {
  box-sizing: border-box;
}

.container {
  @media(min-width: $tablet-size-max) {
    width: 980px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

/*-------------------------------------------------------
                      Fonts
------------------------------------------------------ */
@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: normal;
  src: local('Zapfino'), url('../fonts/zapfino/Zapfino.woff') format('woff');
}

@font-face {
  font-family: 'Russkopis';
  src: url("../fonts/russkopis/Russkopis-Normalny.otf");
}

/* roboto-100 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-ext/roboto-v18-latin-ext-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('../fonts/roboto-ext/roboto-v18-latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-100.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-ext/roboto-v18-latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto-ext/roboto-v18-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-ext/roboto-v18-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-ext/roboto-v18-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-ext/roboto-v18-latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/roboto-ext/roboto-v18-latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin-ext */
@font-face {
  font-family: 'RobotoExt';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-ext/roboto-v18-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-ext/roboto-v18-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-ext/roboto-v18-latin-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

body, html {
  height: 100%;
}

body {
  font-family: RobotoExt, sans-serif;
}

.zapfino {
  font-family: Zapfino, sans-serif;
  @media (max-width: $phone-size-max) {
    line-height: 80px;
    font-size: 30px!important;
  }
}

.russkopis {
  font-family: Russkopis, sans-serif;
  font-size: 400% !important;
  @media (max-width: $phone-size-max) {
    line-height: 50px;
  }
}

img {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}
/*-------------------------------------------------------
                      Main Colors
------------------------------------------------------ */
$soft-black: #1F1F1F;
$footer-light: #F5F5F5;
$footer-dark: #B7B3B3;
$background-light: #FFFFFF;
$background-grey: #5A5858;
$text-light: #FFFFFF;
$text-dark: #1F1F1F;
$accent-color: #CEB758;
$light-grey: #D6D5D5;

/*-------------------------------------------------------
                      Transitions
------------------------------------------------------ */
.transition-three {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition-four {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/*-------------------------------------------------------
             Headings Underline Animations
------------------------------------------------------ */
/* Header underline with circle in the middle */
.animate-header-underline {
  .fill-outline {
    width: 200px;
    margin: auto;
    height: 2px;
    background-color: transparent;
    .line-fill {
      margin: auto;
      width: 100px;
      height: 1px;
      background-color: $text-dark;
    }
  }
}

.animate-header-underline:hover {
  .line-fill {
    width: 150px;
  }
}

.album-title-line {
  display: inline-block;
  padding-bottom: 4px;
  padding-left: 5px;
  transition: all 0.4s ease;
  div{
    background-color: $soft-black;
    width: 80px;
    height: 1px;
  }
}
/*-------------------------------------------------------
                  Links & Lists
------------------------------------------------------ */
a {
  text-decoration: none !important;
}

/*-------------------------------------------------------
                 Custom Classes
------------------------------------------------------ */
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.filter-light {
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0.4;
  background-color: $background-light;
}
.filter-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: $soft-black;
}

.box-active {
  opacity: 1 !important;
}

.block-hide-phone {
  @media(max-width: $tablet-size-min) {
    display: none;
  }
}