@import "common";
@import "nav";
@import "footer";

/* Cover Image */
#contact_cover {
  height: 80%;
  background: url("../img/pacu_rumai/EL5_1562-Edit.jpg") no-repeat fixed center top;
  @media(max-width: $phone-size-max) {
    background: url("../img/pacu_rumai/EL5_1562-Edit.jpg") no-repeat center;
    background-size: cover;
  }
}

/* Contact Content */

#contact_content {
  padding: 50px 15px;
  .container {
    color: $text-dark;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    .row {
      .col-md-5 {
        height: 550px;
        background: url("../img/pacu_rumai/photo_1.jpg") no-repeat center;
        background-size: cover;
        @media (max-width: $tablet-size-max) {
          margin-top: 20px;
          height: 300px;
        }
        @media (max-width: $phone-size-max) {
          display: none;
        }
      }
      .col-md-7 {
        padding-right: 60px;
        @media (max-width: $tablet-size-max) {
          padding-right: 0;
        }
        .row:nth-child(2) {
          margin-top: 30px;
        }
        .row:nth-child(3) {
          padding-top: 30px;
          padding-bottom: 50px;
          .col-md-8 {
            @media (min-width: $phone-size-max) {
              float: left;
              margin: 0;
            }
            .btn {
              padding: 8px;
              background-color: $soft-black;
              border: 1px solid transparent;
              letter-spacing: 1.5px;
              line-height: 20px;
              font-size: 12px;
              font-weight: 500;
              border-radius: 0;
              color: $text-light;
            }
            .btn:hover {
              background-color: transparent;
              border: 1px solid $soft-black;
              color: $soft-black;
            }
          }
        }
      }
    }
  }
}
/* Footer */

footer {
  @media (min-width: $tablet-size-min) {
    background-color: $background-grey;
    .screen-lg {
      h5 {
        color: $text-light;
      }
      p {
        color: $text-light;
      }
      ul {
        li {
          color: $text-light;
          a {
            color: $text-light;
          }
        }
      }
      .col-sm-3:last-child {
        .row:nth-child(2) {
          .col-xs-12 {
            a:hover {
              background-color: transparent;
              border: 1px solid  $text-light;
              color: $text-light;
            }
          }
        }
      }
    }
  }
}