@import "common";
@import "nav";
@import "footer";


/* Cover Image */
#decor_elements_cover {
  background: url("../img/ilzinbergo_dvaras/gallery/Photo_15.jpg") no-repeat fixed center top;
  @media(max-width: $phone-size-max) {
    background: url("../img/ilzinbergo_dvaras/gallery/Photo_15.jpg") no-repeat center;
    background-size: cover;
  }
}

/* Section Exterior Content */

#decor_elements_content {
  .container {
    .row {
      .col-sm-5 {
        background: url("../img/background/apacioje.jpg") no-repeat center;
        background-size: cover;
        height: 500px;
        @media (max-width: $tablet-size-min) {
          display: none;
        }
      }

    }
  }
  padding: 50px 15px;
  color: $text-dark;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  a {
    font-weight: 400;
    color: $accent-color;
  }
  a:hover {
    color: $soft-black;
  }
  @media (max-width: $phone-size-max) {
    padding: 40px 15px;
  }
  .container {
    .row {
      .content-text {
        padding-left: 60px;
        @media (max-width: $tablet-size-min) {
          padding-left: 15px;
        }
      }
    }
  }
}

/* Footer */

footer {
  @media (min-width: $tablet-size-min) {
    background-color: $background-grey;
    .screen-lg {
      h5 {
        color: $text-light;
      }
      p {
        color: $text-light;
      }
      ul {
        li {
          color: $text-light;
          a {
            color: $text-light;
          }
        }
      }
      .col-sm-3:last-child {
        .row:nth-child(2) {
          .col-xs-12 {
            a:hover {
              background-color: transparent;
              border: 1px solid $text-light;
              color: $text-light;
            }
          }
        }
      }
    }
  }
}