@import "common";
@import "nav";
@import "footer";

/* Cover Image */
#exterior_cover {
  background: url("../img/pacu_rumai/exterior_cover.jpg") no-repeat fixed center top;
  @media(max-width: $phone-size-max) {
    background: url("../img/pacu_rumai/exterior_cover.jpg") no-repeat center;
    background-size: cover;
  }
}

/* Section Exterior Content */

#exterior_content {
  padding: 50px 15px;
  @media (max-width: $phone-size-max) {
    padding: 40px 15px;
  }
  .container {
    .row {
      padding: 0 15px;
      .rus-version {
        height: 580px !important;
      }
      .col-md-5 {
        background-size: cover;
        background: url("../img/pacu_rumai/gallery/Photo_9.jpg") no-repeat center top;
        height: 530px;
        @media (max-width: $tablet-size-max) {
          height: 400px;
        }
        @media (max-width: $phone-size-max) {
          display: none;
        }
      }
      #contact_text {
        @media (max-width: $tablet-size-max) {
          padding-left: 0;
          margin-top: 20px;
        }
        padding-left: 60px;
        color: $text-dark;
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
        .row {
          padding: 0;
          .col-md-6 {
            margin-bottom: 15px;
            padding: 0 10px 0 15px;
            .btn {
              background-color: $soft-black;
              border: 1px solid transparent;
              letter-spacing: 1.5px;
              line-height: 20px;
              font-size: 12px;
              font-weight: 500;
              border-radius: 0;
              color: $text-light;
            }
            .btn:hover {
              background-color: transparent;
              border: 1px solid $soft-black;
              color: $soft-black;
            }
          }
          .col-md-6:nth-child(2) {
            @media (max-width: $tablet-size-max) {
              float: right;
            }
            @media (max-width: $phone-size-max) {
              float: left;
            }
          }
        }
        .row:first-child {
          padding-bottom: 20px;
        }
        .row:last-child {
          padding-top: 30px;
          h4 {
            margin-bottom: 20px;
          }
          ul {
            li {
              padding-bottom: 8px;
              i {
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

/* Footer */

footer {
  @media (min-width: $tablet-size-min) {
    background-color: $background-grey;
    .screen-lg {
      h5 {
        color: $text-light;
      }
      p {
        color: $text-light;
      }
      ul {
        li {
          color: $text-light;
          a {
            color: $text-light;
          }
        }
      }
      .col-sm-3:last-child {
        .row:nth-child(2) {
          .col-xs-12 {
            a:hover {
              background-color: transparent;
              border: 1px solid  $text-light;
              color: $text-light;
            }
          }
        }
      }
    }
  }
}