@import "common";

footer {
  background-color: $footer-light;
  padding: 40px 15px 20px;
  @media (max-width: $phone-size-max) {
    padding: 0 0 40px 0 !important;
    background-color: $soft-black;
    .container {
      padding: 0;
    }
  }
  #copyright {
    padding: 5px 10px;
    background-color: inherit;
    span {
      font-size: 12px;
      color: $text-light;
      i {
        padding-right: 5px;
        font-size: 10px;
      }
    }
  }
  .screen-lg {
    @media (max-width: $phone-size-max) {
      display: none;
    }
    .col-sm-3:last-child {
      .row:nth-child(2) {
        .col-xs-12 {
          a {
            background-color: $soft-black;
            border: 1px solid transparent;
            border-radius: 0;
            color: $text-light;
            font-size: 10px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
          }
          a:hover {
            background-color: transparent;
            border: 1px solid $soft-black;
            color: $soft-black;
          }
        }
      }
    }
    h5 {
      color: $soft-black;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
    }
    p {
      color: $soft-black;
      letter-spacing: 0.5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
    ul {
      li {
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: $soft-black;
        a {
          color: $soft-black;
        }
        i {
          width: 0;
          visibility: hidden;
          transition: all 0.5s ease;
          padding-left: 5px;
          font-size: 10px;
        }
      }
      li:hover {
        i {
          width: 10%;
          visibility: visible;
          padding-left: 10px;
          color: $accent-color;
        }
        a {
          color: $accent-color;
        }
      }
    }
  }
  .screen-sm {
    z-index: 3 !important;
    @media (min-width: $tablet-size-min) {
      display: none;
    }
    .footer-message {
      padding: 0 27px;
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      color: $text-light;
      line-height: 18px;
      letter-spacing: 0.5px;
      .row:nth-child(2) {
        .col-xs-12 {
          margin-top: 10px;
          a {
            background-color: $background-light;
            border-radius: 0;
            font-size: 10px;
            font-weight: 500;
            color: $text-dark;
            line-height: 18px;
            letter-spacing: 1px;
          }
        }
      }
    }
    #accordion {
      margin-bottom: 30px;
      .card {
        .card-header {
          padding: 0 15px;
          border-bottom: 0.5px solid $background-grey;
          h5 {
            margin-bottom: 0;
            .btn {
              padding: 15px 12px;
              outline: none;
              text-decoration: none;
              color: $text-light;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 2px;
            }
          }
        }
        .card-content {
          .card-body {
            padding: 0;
            background-color: $background-light;
            ul {
              li {
                line-height: 18px;
                padding: 10px 27px;
                border-bottom: 0.5px solid $light-grey;
                font-size: 12px;
                letter-spacing: 0.5px;
                i {
                  font-size: 12px;
                  padding-right: 5px;
                }
                a {
                  color: $soft-black;
                  font-weight: 400;
                }
              }
              li:hover {
                a {
                  color: $accent-color;
                }
              }
            }
          }
        }
      }
    }
  }
}
