@import "common";
@import "nav";
@import "footer";
#nav_menu {
  opacity: 1;
}

#back_to_top {
  z-index: 3 !important;
  .container {
    .row {
      .col-xs-12 {
        position: fixed;
        text-align: right;
        bottom: 15px;
        right: 0;
        a {
          transition: all 0.4s ease;
          opacity: 0.7;
          border-radius: 5px;
          color: $text-light;
          background-color: $soft-black;
          font-size: 20px;
          padding: 8px 14px;
        }
        a:hover {
          opacity: 1;
        }
      }
    }
  }
}

#gallery_nav {
  .container {
    @media (max-width: $tablet-size-max) {
      padding: 80px 15px 0;
    }
    padding: 100px 15px 0;
    .row {
      .col-xs-12 {
        .row {
          .col-md-3 {
            @media(max-width: $tablet-size-max) {
              margin-bottom: 10px;
            }
            text-align: center;
            div {
              padding: 5px 0;
              background: transparent;
              border: 1px solid $soft-black;
              border-radius: 0;
              a {
                color: $text-dark;
                font-size: 12px;
              }
            }
            div:hover {
              background-color: $soft-black;
              a {
                color: $text-light;
              }
            }
          }
        }
      }
    }
  }
}

#gypsum_molding_projects, #exterior_elements_projects,  #decorative_finish_projects {
  padding: 100px 15px 0;
  @media (max-width: $tablet-size-max) {
    padding: 90px 15px 0;
  }
}

#gypsum_molding_projects {
  .container {
    .row:nth-child(2) {
      a:nth-child(1) {
        .col-md-6 {
          .row:nth-child(1) {
            .col-xs-12 {
              background-size: cover !important;
              background: url("../img/ilzinbergo_dvaras/gallery/square/Photo_24_square.jpg") center top !important;
            }
          }
        }
      }
      a:nth-child(2) {
        .col-md-6 {
          .row:nth-child(1) {
            .col-xs-12 {
              background-size: cover !important;
              background: url("../img/villa_seelach/gallery/square/Photo_14_square.jpg") center top !important;
            }
          }
        }
      }
    }
  }
}

#exterior_elements_projects, #gypsum_molding_projects {
  .container {
    .row {
      a {
        color: $soft-black;
        .col-md-6 {
          .row:nth-child(1) {
            padding: 0 15px;
            .col-xs-12 {
              height: 350px;
            }
          }
          .row:nth-child(2) {
            padding: 0 15px;
            .rus-version {
              height: 130px !important;
              .album-title {
                h3 {
                  font-size: 28px !important;
                  margin-bottom: 6px !important;
                }
              }
            }
            .col-xs-12 {
              margin-top: -80px;
              position: relative;
              width: 350px;
              height: 175px;
              background-color: $background-light;
              .album-title {
                padding-left: 15px;
                width: 100%;
                position: absolute;
                h3 {
                  font-size: 24px;
                  line-height: 28px;
                  margin-bottom: 0;
                }
                span {
                  font-size: 14px;
                  font-weight: 300;
                  background-color: $background-light;
                }
              }
            }
          }
          .row:nth-child(2):hover {
            .album-title {
              .album-title-line {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
    .row:nth-child(1) {
      text-align: center;
      padding-bottom: 50px;
    }
    .row:nth-child(2) {
      a:nth-child(1) {
        .col-md-6 {
          .row:nth-child(1) {
            .col-xs-12 {
              background-size: cover !important;
              background: url("../img/pacu_rumai/album_cover_1.jpg") center top;
            }
          }
        }
      }
      a:nth-child(2) {
        .col-md-6 {
          .row:nth-child(1) {
            .col-xs-12 {
              background-size: cover !important;
              background: url("../img/pacu_rumai/album_cover_2.jpg") center top;
            }
          }
        }
      }
    }
  }
}

#to-be-added {
  text-align: center;
  p {
    margin: 30px 0 60px !important;
  }
}