@import "common";
@import "nav";
@import "footer";

#our_products, #our_works, #about_us {
  padding: 80px 15px;
}

/* Cover Image */
#home_cover {
  background: url("../img/pliateriu_rumai/cover_formatted.jpg") no-repeat fixed center top;
  @media(max-width: $phone-size-max) {
    background: url("../img/pliateriu_rumai/cover_formatted.jpg") no-repeat center;
    background-size: cover;
  }
}

/* Our Products */

#our_products {
  .container {
    .row:nth-child(1) {
      padding-bottom: 60px;
      .col-md-12 {
        h3 {
          color: $text-dark;
        }
      }
    }
    .row:nth-child(2) {
      .col-md-3:hover {
        .product {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }
      .col-md-3 {
        .product {
          opacity: 0;
          transition: all 0.5s ease;
          position: relative;
          -webkit-box-shadow: 0 0 20px 2px rgba(179, 179, 179, 1);
          -moz-box-shadow: 0 0 20px 2px rgba(179, 179, 179, 1);
          box-shadow: 0 0 20px 2px rgba(179, 179, 179, 1);
          -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
          .product-title {
            position: absolute;
            background-color: $soft-black;
            padding: 20px 40px;
            a {
              color: $text-light;
              h4 {
                margin-bottom: 0;
              }
            }
          }
        }
        #fadein_box_one {
          background: url("../img/background/interior.jpg") no-repeat center;
          background-size: cover;
        }
        #fadein_box_two {
          background: url("../img/background/exterior.jpg") no-repeat center;
          background-size: cover;
        }
        #fadein_box_three {
          background: url("../img/background/dekoratyvi_apdaila.jpg") no-repeat center;
          background-size: cover;
        }
        #fadein_box_four {
          background: url("../img/background/dekoro_elementai.jpg") no-repeat center;
          background-size: cover;
        }
      }
      @media(min-width: $desktop-size-min) {
        .col-md-3 {
          padding: 0 10px 0 0;
          .product {
            height: 350px;
          }
        }
        .col-md-3:last-child {
          padding-right: 0;
        }
      }
      @media(max-width: $tablet-size-max) {
        .col-md-3 {
          .product {
            height: 350px;
          }
        }
        .col-md-3 {
          margin-top: 15px;
        }
      }
      @media(max-width: $phone-size-max) {
        .col-md-3 {
          .product {
            height: 150px;
          }
        }
      }
    }
  }
}

/* About Us */

#about_us {
  background-color: $background-grey;
  .row:nth-child(1) {
    padding-bottom: 60px;
    color: $text-light;
    .col-xs-12 {
      .animate-header-underline {
        .fill-outline {
          .line-fill {
            background-color: $text-light;
          }
        }
      }
    }
  }
  .row:nth-child(2) {
    .col-md-6:nth-child(1) {
      @media(max-width: $tablet-size-max) {
        padding-bottom: 30px;
      }
      .vertical-line {
        width: 0.3%;
        float: left;
        background-color: $text-light;
        height: 100px;
        @media (max-width: $tablet-size-max) {
          display: none;
        }
      }
      .about_text {
        padding-left: 30px;
        width: 99%;
        float: left;
        @media (max-width: $tablet-size-max) {
          width: 100%;
          padding-left: 0;
          text-align: center;
        }
        p {
          color: $text-light;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
        }
      }
    }
    .col-md-6:nth-child(2) {
      img {
        -webkit-box-shadow: 10px 10px 45px -17px rgba(56,55,56,1);
        -moz-box-shadow: 10px 10px 45px -17px rgba(56,55,56,1);
        box-shadow: 10px 10px 45px -17px rgba(56,55,56,1);
      }
    }
  }
  .row:nth-child(2):hover {
    .col-md-6:nth-child(1) {
      .vertical-line {
        height: 275px;
      }
    }
  }
}

/* Our Works */
#our_works {
  .row:nth-child(1) {
    padding-bottom: 60px;
  }
  .row:nth-child(2), .row:nth-child(3) {
    img {
      filter: grayscale(20%);
      transition: all 0.4s ease;
      @media( max-width: $tablet-size-max) {
        filter: grayscale(0%);
      }
    }
    img:hover {
      filter: grayscale(0%);
    }
  }
  .row:nth-child(2), .row:nth-child(3) {
    padding: 0 15px;
    .col-md-3 {
      overflow: hidden;
      padding: 5px;
    }
  }
  .row:nth-child(4) {
    padding-top: 30px;
    .col-md-3 {
      background-color: $soft-black;
      border: 1px solid transparent;
      a {
        color: $text-light;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 1.5px;
      }
    }
    .col-md-3:hover {
      background-color: $background-light;
      border: 1px solid $soft-black;
      a {
        color: $soft-black;
      }
    }
  }
}

#contact_us {
  padding: 0;
  position: relative;
  height: 400px;
  @media (max-width: $phone-size-max) {
    height: 350px;
  }
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url("../img/pacu_rumai/EL5_1562-Edit.jpg") no-repeat fixed center top;
  @media(max-width: $phone-size-max) {
    background: url("../img/pacu_rumai/EL5_1562-Edit.jpg") no-repeat center;
    background-size: cover;
  }
  .container {
    position: relative;
    height: 100%;
    .block-content {
      text-align: center;
      position: absolute;
      width: 100%;
      span {
        color: $text-light;
        font-size: 35px;
      }
      .col-md-3 {
        @media (max-width: $phone-size-max) {
          background-color: $background-light;
        }
        margin-top: 35px;
        background-color: transparent;
        border: 1px solid $background-light;
        a {
          @media (max-width: $phone-size-max) {
            color: $soft-black;
            border: 1px solid transparent;
            font-size: 12px;
          }
          color: $text-light;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 1.5px;
        }
      }
      .col-md-3:hover {
        @media (max-width: $phone-size-max) {
          background-color: transparent;
        }
        background-color: $background-light;
        a {
          @media (max-width: $phone-size-max) {
            color: $text-light;
          }
          color: $soft-black;
        }
      }
    }
  }
}

#copyright {
  span {
    color: $text-dark !important;
  }
}