@import "common";
@import "nav";
@import "footer";

#nav_menu {
  opacity: 1;
}

#installation_info {
  color: $text-light;
  padding: 120px 15px 60px;
  .row:nth-child(1) {
    color: $text-dark;
    padding-bottom: 40px;
  }
  .row:nth-child(2) {
    .col-sm-6 {
      .rus-version {
        height: 820px !important;
        h4 {
          font-size: 16px !important;
        }
      }
      .info-container {
        padding: 60px 40px;
        height: 700px;
        background-color: $background-grey;
        @media(max-width: $tablet-size-min) {
          height: 1150px !important;
          margin-bottom: 20px;
        }
        h3 {
          font-size: 24px;
          text-align: center;
          margin-bottom: 35px;
        }
        h4 {
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          margin-bottom: 15px;
        }
        p {
          font-size: 15px;
          line-height: 18px;
          font-weight: 300;
          padding-bottom: 10px;
          span {
            color: #B61A15;
            font-weight: 500;
          }
        }
      }
    }
    .col-sm-6:nth-child(2) {
      .info-container {
        @media(max-width: $tablet-size-min) {
          height: 900px;
        }
      }
    }
  }
}