@import "common";

/* Navigation menu */

#small_nav_menu {
  display: none;
  @media(min-width: $desktop-size-min) {
    display: none !important;
  }
  /* The Overlay (background) */
  z-index: 4;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  .container {
    padding-top: 80px;
    .overlay-content {
      position: relative;
      top: 25%;
      width: 90%;
      float: left;
      text-align: left;
      ul {
        li {
          padding-bottom: 12px;
          a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 300;
            color: $text-light;
            opacity: 0.6;
          }
        }
        li:hover {
          a {
            opacity: 1;
          }
        }
        li:last-child {
          padding-top: 10px;
          a {
            font-size: 20px;
            span {
              padding: 0 10px;
              color: $text-light;
              opacity: 0.6;
            }
          }
          a:hover {
            color: $accent-color;
          }
        }
      }
    }
    #overlay_button {
      width: 10%;
      float: right;
      padding: 0;
      i {
        color: $text-light;
        font-size: 26px;
      }
    }
  }
}

#nav_menu {
  width: 100%;
  z-index: 3;
  background-color: $soft-black;
  opacity: 0.8;
  overflow: hidden;
  position: fixed;
  top: 0;
  .container {
    padding: 20px 0;
    #brand_logo {
      width: 12%;
      float: left;
    }
    #nav_tabs {
      @media (max-width: $desktop-size-min) {
        display: none;
      }
      width: 88%;
      float: right;
      ul {
        padding-top: 8px;
        li {
          display: inline-block;
          padding-left: 10px;
          a {
            color: $text-light;
            font-size: 11px !important;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 0 !important;
          }
          a:hover {
            color: $accent-color;
          }
        }
      }
      ul:nth-child(1) {
        padding-left: 50px;
        width: 90%;
        float: left;
      }
      ul:nth-child(2) {
        width: 10%;
        float: right;
        text-align: right;
      }
    }
    #small_nav_btn {
      @media (min-width: $desktop-size-min) {
        display: none;
      }
      float: right;
      button {
        background-color: transparent;
        box-shadow: none;
        outline: none;
        color: $text-light;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        i {
          padding-left: 5px;
        }
      }
    }
  }
}

#nav_menu:hover {
  opacity: 1;
}

.nav-menu-scrolled {
  opacity: 1 !important;
}

/* Cover Image */

.cover-img {
  overflow: hidden;
  height: 100%;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-box-shadow: inset 0px -200px 100px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -200px 100px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px -200px 100px 0px rgba(0,0,0,0.75);
  .container {
    height: 100%;
    position: relative;
    #cover_text {
      text-align: center;
      position: absolute;
      width: 100%;
      padding-right: 50px;
      top: 80%;
      @media (max-width: $phone-size-max) {
        top: 75%;
      }
      p {
        color: $text-light;
        font-size: 40px;
      }
    }
  }
}
