@import "common";
@import "nav";
@import "footer";

#nav_menu {
  opacity: 1;
}

.gallery-content {
  padding: 100px 0 50px;
  @media( max-width: $phone-size-max) {
    padding: 100px 0 50px;
  }
  .container {
    .row:nth-child(1) {
      padding: 50px 15px;
      .gallery-name {
        text-align: center;
        h3 {
          font-size: 30px;
        }
        span {
          font-weight: 300;
          letter-spacing: 0.5px;
        }
        @media(max-width: $phone-size-max) {
          h3 {
            line-height: 35px;
            font-size: 25px !important;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
    .row:last-child {
      @media(max-width: $phone-size-max) {
        padding: 0 15px;
      }
      .btn-gallery-back {
        transition: all 0.4s ease;
        margin-top: 20px;
        width: 100%;
        color: $text-light;
        border-radius: 0;
        background-color: $soft-black;
        border: 1px solid transparent;
        font-size: 12px;
        font-weight: 500;
        padding: 7px 0;
        letter-spacing: 1px;
        i {
          transition: all 0.4s ease;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .btn-gallery-back:hover {
        color: $soft-black;
        border: 1px solid $soft-black;
        background: transparent;
        i{
          color: $accent-color;
          padding-left: 0;
        }
      }
    }
    .gallery-row {
      padding: 0 10px;
      @media( max-width: $phone-size-max) {
       padding: 0 25px;
      }
      .col-md-3 {
        padding: 5px;
        a {
          img {
            filter: grayscale(60%);
            transition: all 0.4s ease;
            @media( max-width: $tablet-size-max) {
              filter: grayscale(0%);
            }
          }
          img:hover {
            filter: grayscale(0%);
            transform: scale(1.03);
            @media( max-width: $phone-size-max) {
              transform: none;
            }
          }
        }
      }
    }
  }
}

